<body>
  <div class="text-center" style="padding:50px 0">
    <div class="logo">Crowdfunder</div>
    <%= form_tag sessions_path do %>
     <ul class="form1">
       <div class="form-group">
         <%= label_tag '' do %>
           Email<span class="required">******</span>
         <% end %>
         <%= email_field_tag :email%>
       <div>

      <div class="form-group">
           <%= label_tag '' do %>
             Password<span class="required">*</span>
           <% end %>
           <%= password_field_tag :password %>
      </div>


        <div class="form-group">
          <%= submit_tag "Log in" %>
        </div>
      </ul>
      <% end %>
    </div>
  </div>
<body>

<style>
body {
  background-color: orange;
}
</style>
