<% if current_user %>
  <% @projects.each do |project| %>
   <% if project.user_id != current_user.id %>
      <p class="ptitle"><%= link_to project.title, project %></p>
      <% if current_user.pledges.exists?(project_id: project.id) %>
        you backed this
      <% end %>
      <p class="pdescription"><%= project.description %></p>
   <% end %>
  <% end %>
  </br>
  <h3>My Projects</h3>
  <% @projects.each do |project| %>
   <% if project.user_id == current_user.id %>
      <p class="ptitle"><%= link_to project.title, project %></p>
      <p class="pdescription"><%= project.description %></p>
   <% end %>
  <% end %>
  <p>My Money Pledged: <%= current_user.pledges.sum(:amount) %></p>
<% else %>
  <% @projects.each do |project| %>
    <p class="ptitle"><%= link_to project.title, project %></p>
    <p class="pdescription"><%= project.description %></p>
  <% end %>
<% end %>
