<% @projects.each do |project| %>
<p>Project id : <%= project.id %></p>
  <p>Project Title : <%= project.title %></p>
  <p>Project Description : <%= project.description %></p>
  <p>Project Goal : <%= project.goal %></p>
  <p>Project StartTime : <%= project.startdate %></p>
  <p>Project FinishTime : <%= project.finishdate %></p>
  <strong>Project TotalPledged : <p id= "earned<%= project.id %>"><%= project.pledges.sum(:amount)  %></p></strong>
  <br>
  <% project.rewards.each do |reward| %>
    <% if current_user %>
      |<%= project.id %>|
      <button type="button" name="reward" class="<%= current_user.id %>" id= "<%= reward.id %>|<%= project.id %>">pledge <%= reward.price %></button>
    <% end %>
    <p>Description <%= reward.description %></p>
  <% end %>
<% end %>
