<p class="ptitle"><%= @project.title %></p>

<% if current_user && current_user.pledges.exists?(project_id: @project.id) %>
  you backed this project
<% end %>
<p class="projectowner">Project Owner<%= @project.user.name %></p>
<p class="pdescription"><%= @project.description %></p>
<p class="pstardate">Start Date:   <%= @project.startdate %></p>
<p class="pfinishdate">Finish Date:   <%= @project.finishdate %></p>


<% newtime = @project.startdate > DateTime.now() ? @project.startdate : DateTime.now()%>
<p><strong>Days left: <%= ((@project.finishdate - newtime)/1.day).round %><strong></p>
<strong>$<p id= "earned<%= @project.id %>"><%= @project.pledges.sum(:amount)  %></p>pledged of $<%= @project.goal%> goal</strong>
<br>
<fieldset class="tag fieldset">Tags: <%= @project.tags.map{|tag| tag.title}.join('#') %></fieldset>
<% @project.rewards.each do |reward| %>
<fieldset class="reward fieldset">
  <p>Description: <%= reward.description %></p>
  <% if current_user && @project.user_id != current_user.id %>
    <button type="button" name="reward" class="<%= current_user.id %>" id= "<%= reward.id %>|<%= @project.id %>">pledge <%= reward.price %></button>
  <% else %>
    Reward Price: <%= reward.price %>
  <% end %>
</fieldset>
<% end %>
<br><br><br>

<div class="message_box">
  <% @messagesprojects.each do |message|%>
    <p>Message: <%= message.infomation %></p>
  <% end %>
</div>

<% if !current_user || @project.user_id == current_user.id %>
<% else %>
  <fieldset>
    <form id="messagereview" action="index.html" method="post">
      Message:<br>
      <textarea id="rd" name="message" data-project=<%= @project.id%> data-user=<%= @project.user_id%>></textarea>
      <input type="submit" name="name">
    </form>
  </fieldset>
  <fieldset>
    <form id="messagereviewuser" action="index.html" method="post">
      Message:Owner<br>
      <textarea id="rdr" name="message" data-project=<%= @project.id%> data-user=<%= @project.user_id%>></textarea>
      <input type="submit" name="name">
    </form>
  </fieldset>
<% end %>
