<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<p class="ptitle"><%= @project.title %></p>

<% if current_user && current_user.pledges.exists?(project_id: @project.id) %>
  you backed this
<% end %>
<p class="pdescription"><%= @project.description %></p>
<p class="pgoal"><%= @project.goal %></p>
<p class="pstardate"><%= @project.startdate %></p>
<p class="pfinishdate"><%= @project.finishdate %></p>
<% newtime = @project.startdate > DateTime.now() ? @project.startdate : DateTime.now()%>
<p><strong>Days left: <%= ((@project.finishdate - newtime)/1.day).round %><strong></p>
<strong>Project TotalPledged : <p id= "earned<%= @project.id %>"><%= @project.pledges.sum(:amount)  %></p></strong>
<br>
<% @project.rewards.each do |reward| %>
<fieldset class="reward fieldset">
  <p>Description: <%= reward.description %></p>
  <% if current_user && @project.user_id != current_user.id %>
    <button type="button" name="reward" class="<%= current_user.id %>" id= "<%= reward.id %>|<%= @project.id %>">pledge <%= reward.price %></button>
  <% else %>
    Reward Price: <%= reward.price %>
  <% end %>
</fieldset>
<% end %>
